* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .btn_back {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
  background-color: #777;
}
.slider .btn_back img {
  width: 40px;
  transform: rotate(180deg);
}
.slider #gallery_box {
  width: 300px;
  margin: 0 30px;
  border: 20px solid #888;
  overflow: hidden;
}
.slider #gallery_box .gallery_list {
  display: flex;
}
.slider #gallery_box .gallery_list img {
  display: block;
  width: 300px;
}
.slider .btn_next {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
  background-color: #777;
}
.slider .btn_next img {
  width: 40px;
}
.slider .gray {
  background-color: #c7c7c7;
}

.pages {
  display: flex;
  justify-content: center;
  width: 100%;
}
.pages li {
  margin: 20px 5px;
}
.pages li button {
  width: 13px;
  height: 13px;
  border: 1.5px solid #000;
  border-radius: 100%;
  cursor: pointer;
}
.pages .active {
  background-color: #000;
}